@charset "UTF-8"


@import url('https://fonts.googleapis.com/css2?Berkshire+Swash&display=swap');

:root {
    --cor1: #C0BAF5;
    --cor2: #EBE279;
    --cor3: #E0CC41;
    --cor4: #FF1600;
    --cor5: #94111A;

    --fontdestaque: 'Arizonia', coursive;
    --fontlove: 'Lovers Quarrel', coursive;
    --fonth1: 'Oleo Script', cursiva;
}

* {
    margin: 0em;
}

header {
    padding-top: 20px;
    background-image: linear-gradient(0deg,#f6fa01,#e48e04,#eb5702);
    text-align: center;
    height: 200px;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

header > h1 {
    color: #be0b0bd5;
    text-shadow: #dbd807 0px 10px 17px;
    margin-bottom: 10px;
}

header > h2 {
    font-family: var(--fontlove);
    font-size: 2.1em;
    color: #af1414;
    text-shadow: #f6fa01 0px 10px 17px;
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
}

header > p {
    margin: 10px;
    margin-bottom: 15px;
    padding-bottom: 1.23em;
    font-family: var(--fontdestaque);
    font-size: 1.7em;
    color: rgb(197, 43, 23);
    text-shadow: #FF1600 0px 10px 15px;
}

header > nav {
    text-align: left;
}

nav > a {
    text-decoration: none;
    padding: 0.3em;
    margin-left: 0.2em;
    color: rgb(148, 18, 18);
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgb(148, 18, 18);
}

nav > a:hover {
    background-color: rgba(199, 12, 12, 0.836);
    color: #f6fa01e7;
    transition-duration: 0.4s;
}

main {
    background-image: url(imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

article#principal {
    max-width: 750px;
    background-color: #94111a5b;
    margin: auto;
    padding: 15px;
    color: rgb(255, 255, 238);
}

article > p {
    text-indent: 2em;
    text-align: justify;
    line-height: 1.4em;
}

.history {
    max-width: 650px;
    margin: auto;
}

.history > h1 {
    margin-top: 1em;
    font-family: 'Oleo Script', cursiva;
    font-weight: lighter;
    font-size: 1.8em;
}

.img {
    margin-left: 10px;
    display: inline-block;
    max-width: 400px;
    text-align: center;
}

span {
    color: #c6c928;
    font-family: var(--fontlove);
    font-size: 2em;
}

section {
    margin: auto;
    text-align: center;
}

section > p {
    text-indent: 2em;
    line-height: 1.4em;
}

h2 {
    text-align: left;
    margin-top: 0.5em;
    font-family: 'Oleo Script', cursiva;
    font-weight: 100;
    font-size: 1.5em;
}

.objetive {
    max-width: 650px;
    text-align: justify;
}

.objetive > h2 {
    font-size: 1.9em;
}


h3 {
    text-align: center;
    font-family: var(--fontdestaque);
    font-size: 1.8em;
    color: #c6c928;
    text-shadow: 0px 0px 40px #ff0202;
    margin: 1em;
}


.link {
    text-align: center;
    padding: 10px;
}

.link > a {
    text-decoration: none;
    padding: 0.3em;
    color: rgb(192, 189, 16);
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgb(148, 18, 18);
}

.link > a:hover {
    background-color: rgb(219, 218, 113);
    color: #af1414;
    border: none;
    transition-duration: 2s;
}

footer {
    background-color: rgb(206, 203, 23);
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0.1em;
    box-shadow: inset 0px 0px 15px rgb(112, 47, 47);
}
